@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*
{ 
    text-decoration: none !important;
    font-family: "Montserrat", sans-serif;
}

#topBar a , #bottomFooter a
{
    color: #fff;
}

#topFooter a, aside a
{
color: #393939;
}

.bi
{
    font-size: 24px;
}

#services p{
    text-align: justify;
}

.bg-acikMavi{background-color: #dde0ff;}

#mainBlog .col-4{
    background-image: url(../img/blog-yazisi-256x256.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner{
    padding: 120px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;

}


#aboutBanner{
    background-image: url(../img/hakkimda-banner-1440x340.webp);
}

#portfolyoBanner
{
    background-image: url(../img/portfolyo-banner-1440x340.webp);
}

#webTasarimiBanner
{
    background-image: url(../img/web-tasarimi-hizmeti-1440x340.webp);
}
#aboutMe .bi, aside .bi{
    color: #393939;
}

.thumbler{
    cursor: pointer;
}

.hizmetGorsel{
    border-radius: 10px;
    box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.4);
    width: 100%;
}

#grafikTasarimi
{
    background-image: url(../img/grafik-tasarimi-hizmeti-1440x340.webp);
}

#dijitalPazarlamaBanner
{
    background-image: url(../img/dijital-pazarlama-banner-1440x350.webp);
}

#blogBanner
{
    background-image: url(../img/blog-banner-1440x340.webp);
}

#blogListContent h2{font-size:22px}

aside .row{
    margin: 0px 0px 25px 0;
}

#makaleBanner h1{
   font-size: 48px;
}


main .bi
{
    font-size: 16px;
    color: #00008b;
}

#iletisimBanner{
    background-image: url(../img/iletisim-banner-1440x340.webp);
}

#info .card{
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.5);
}

#info .card:hover{
    box-shadow: 6px 6px 15px -3px rgba(58,70,150,1);
    transition: 0.5s;
}


/**  responsive css start */


    /* cep telefonu görünümü */
    @media(max-width:768px)
    {
        .mobil-text-center{text-align: center !important;}
        .navbar-brand{width: 82%;}
        #mainBanner h1{
            font-size: 29px;
            text-align: center;
        }
        .mobil-mb{
            margin-bottom: 25px;
        }
        #services .col{
            text-align: left;
        }
        #services .col-md-4:nth-of-type(2)
        {
            margin: 25px 0px;
        }
        #cta span{font-size: 24px !important;}
        #mainBlog h3{
            font-size: 20px;
        }

        #mainBlog .col-md-6:nth-of-type(1), #mainBlog .col-md-6:nth-of-type(3)
        {
            margin-bottom: 25px;
        }      
        #mainBlog .col-4{display: none;}
        #mainBlog .col-8{margin: auto;}

        #projeler .col-md-4:nth-of-type(2)
        {
            margin: 25px 0px;
        }

        #phone .col-6{
            max-width: fit-content;   
        }
        
    }


/** responsive css end */